<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Java Test 104</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <!--    jQuery  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<script>
    $(function () {
        var searchBtn = $(".searchBtn");
        var createBtn = $(".createBtn");

        var search = $(".search");
        var create = $(".create");

        $("#showTable > div").hide();
        search.show();

        searchBtn.on("click", function () {
            $("#showTable > div").hide();
            search.show();
        })
        createBtn.on("click", function () {
            $("#showTable > div").hide();
            create.show();
        })
    })
</script>

<body>
    <h1 class="text-center">Java Test 104</h1>

    <div class="container-fluid text-center">
        <button type="button" class="btn btn-primary searchBtn">查詢資料</button>
        <button type="button" class="btn btn-primary createBtn">新增資料</button>
    </div>

    <div class="container-fluid text-center mt-4 w-50" id="showTable">

        <div class="search">
            <table class="table table-bordered ">
                <thead class="thead-dark">
                <tr>
                    <th>idx</th>
                    <th>key</th>
                    <th>value</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="user : ${listUsers}">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>

        <div class="container-fluid  w-50 border border-dark create">
            <form action="" method="post">
                <table class="w-100" >
                    <tr height="40" >
                        <td ><strong>Insert Data：</strong></td>
                    </tr>
                    <tr height="40" >
                        <td class="left" >Key：</td>
                        <td><input type="text" name="key" class="right"/></td>
                    </tr>
                    <tr height="40" >
                        <td class="left">Value ：</td>
                        <td><input type="text" name="value" class="right"/></td>
                    </tr>
                    <tr height="40" class="text-center">
                        <td class=""><button type="cancle" class="border border-dark w-75 mt-2 mb-2">Cancle</button></td>
                        <td class=""><button type="submit" class="border border-dark w-50 mt-2 mb-2">OK</button></td>
                    </tr>
                </table>
            </form>
        </div>

    </div>



</body>
</html>